In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [6]:
pl23 = pd.read_csv('epl_results_2022-23.csv')

In [7]:
print(pl23)

           Date   Time        HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
0    05/08/2022  20:00  Crystal Palace      Arsenal     0     2   A     0
1    06/08/2022  12:30          Fulham    Liverpool     2     2   D     1
2    06/08/2022  15:00     Bournemouth  Aston Villa     2     0   H     1
3    06/08/2022  15:00           Leeds       Wolves     2     1   H     1
4    06/08/2022  15:00       Newcastle   Nottingham     2     0   H     0
..          ...    ...             ...          ...   ...   ...  ..   ...
375  28/05/2023  16:30         Everton  Bournemouth     1     0   H     0
376  28/05/2023  16:30           Leeds    Tottenham     1     4   A     0
377  28/05/2023  16:30       Leicester     West Ham     2     1   H     1
378  28/05/2023  16:30      Man United       Fulham     2     1   H     1
379  28/05/2023  16:30     Southampton    Liverpool     4     4   D     2

     HTAG HTR  ... HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0       1   A  ...   2    2  16  11   3   5   1   2   0   0
1       0   H  ...   3    4   7   9   4   4   2   0   0   0
2       0   H  ...   3    2  18  16   5   5   3   3   0   0
3       1   D  ...   4    6  13   9   6   4   2   0   0   0
4       0   D  ...  10    0   9  14  11   1   0   3   0   0
..    ...  ..  ...  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
375     0   D  ...   6    2  11  12   9   3   1   3   0   0
376     1   A  ...   2    7   7   5  12   3   3   0   0   0
377     0   H  ...   4    3   8  10   3   5   1   1   0   0
378     1   D  ...   8    3  14  10   5   4   1   2   0   0
379     2   D  ...  10    8   4  10   2   9   0   2   0   0

[380 rows x 23 columns]